#mainmenubtn {
    padding: 0;
    border: none;
    width:100%;
    text-align: left;
    background-color:  #303030;
    }

.setting-item {
        border-bottom: 1px solid #777;
}

a :hover{
text-decoration: none!important;
color: white;
text-decoration-color: white;
}

a {
    text-decoration: none;
    color: white;
    }

textarea ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: red;
        opacity: 1; /* Firefox */
    }

textarea {
    width: 100%;
    height: 200px;
    background: #555;
    color: #ddd;
    border: 1px solid #333;
}

  .savebtn {
    width: 100%;
  }

.uberbtn {
    background-color: orange;
    padding-top:  10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 3px;
    border: 0 none;
}

.setting-item {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
